<section class="table-of-contents">
  <header class="table-of-contents__header">
    <h2>Table of contents</h2>
  </header>
  <main class="table-of-contents__list">
    <ul>
    </ul>
  </main>
</section>